@import './materialize/materialize';
@import './react-datetime';
$sideBarWidth: 300px;

$textColor: #333;

h4 {
  color: $textColor;
}

@media (min-width: 767px) {
  .side-nav {
    transform: translateX(0px) !important;
  }
  main {
    padding-left: $sideBarWidth - 1;
  }
  .navbar-fixed nav {
    right: 0;
    left: $sideBarWidth;
    width: auto;
  }
}

.side-nav {
  .background img {
   width: 200px;
    height: auto;
  }

  .userView {
    min-height: 120px;
    text-align: center;
  }

  .collapsible-body > ul > li > a {
    padding-left: 50px;
  }
}

.collection-item {
  .row {
    margin: 0;
  }
  .collection-image {
    img {
      max-width: 200px;
      width: 100%;
    }
  }
  p {
    color: #222;
  }
}

ul.collection {
  margin-top: 0;
}

.preloader-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 32px;
  @media (min-width: 767px) {
    margin-left: 120px;
  }
  margin-left: -32px;
}

nav {
  background-color: $secondary-color;
}

.input-field label {
  width: 100%;
  &:not(.active)::after {
    font-size: 12px;
    top: 38px;
  }
}

.reload-block {
  text-align: center;
  height: 100vh;
  .valign {
    margin: auto;
  }
  p.error {
    max-width: 65%;
    margin: auto;
  }
}

.rdtPicker td,
.rdtPicker th {
  padding: 5px;
}



.datetime-box span {
  display: block;
  font-size: 12px;
  line-height: 0.4em;
  &.month-day {
    font-size: 2.5em;
    line-height: 1.2em;
  }
}

.side-nav .collapsible-header, .side-nav.fixed .collapsible-header {
  padding: 0 32px;
}


