@import './materialize/materialize';

$sideBarWidth: 300px;
@media (min-width: 767px) {
  .side-nav {
    transform: translateX(0px) !important;
  }
  main {
    padding-left: $sideBarWidth - 1;
  }
  .navbar-fixed nav {
    right: 0;
    left: $sideBarWidth;
    width: auto;
  }

}

.side-nav {
  .background img {
   width: 200px;
    height: auto;
  }

  .userView {
    min-height: 120px;
    text-align: center;
  }
}

.collection-item {
  .collection-image {
    min-width: 90px;
  }
  p {
    color: #222;
  }
}

ul.collection {
  margin-top: 0;
}

.preloader-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -45px;
  margin-left: 150px;
}

nav {
  background-color: $secondary-color;
}

.input-field label {
  width: 100%;
  &:not(.active)::after {
    font-size: 12px;
    top: 38px;
  }
}
